{% extends 'frontofficefrontBundle::MainLayout.html.twig' %}
{% block menu %}
    <li><a class="lnk-menu active" href="{{ path('frontofficefront_joueur')}}">Joueurs</a></li>
    <li><a class="lnk-menu" href="results.html">Results</a></li>
    <li><a class="lnk-menu" href="news.html">News</a></li>
    <li><a class="lnk-menu" href="{{ path('frontofficefront_articles')}}">Articles</a></li>
    <li><a class="lnk-menu" href="contact.html">Contact</a></li>
    {% endblock %}

{% block main %}
    <section class="drawer">
        <div class="col-md-12 size-img back-img-match">
            <div class="effect-cover" >

                <h3 class="txt-advert animated fadeInUp">JOUEURS</h3>
                <p class="txt-advert-sub">« Le tennis, c’est plus qu’un sport. C’est un art, au même titre que la danse. » Bill Tilden. </p>
            </div>
        </div>

        <section id="players" class="container secondary-page">
            <div class="general general-results players">

                <div class="top-score-title right-score col-md-9">
                    <h3><span>Joueurs</span> Amateur<span class="point-little">.</span></h3>
                    <p class="txt-right">Ci-dessous la liste des joueurs amateurs en tunisie et un peu dans le monde. Vous pouvez accéder à plus d'informations à propos de chaque joueur en cliquant
                        sur son nom sur sa photo.</p>
                    <p class="txt-right txt-dd-second">Un amateur se livre à une activité en dehors de son cadre professionnel, généralement sans rémunération, dont la motivation ressort essentiellement de la passion. Répondant en partie à des prescriptions et des désirs mimétiques, les pratiques amateurs supposent également un engagement personnel 
                        que ne considère pas toujours une sociologie déterministe.</p>
                        {% for entity in entities %}
                            {% if entity.categorie == "Amateur" %}
                            <div class="col-md-3 atp-player">
                                <a href="{{ path('frontofficefront_joueur_show',{ 'cin': entity.cinJoueur }) }}"><img src="{{asset('uploads/joueurs/'~entity.path)}}" alt="" height="130" width="160" />
                                    <p>{{entity.nom}} {{entity.prenom}}</p>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="content-wtp-player">
                        <h3><span>Joueurs</span> Professionels<span class="point-little">.</span></h3>
                        <p class="txt-right">Ci-dessous la liste des joueurs professionnels en tunisie et un peu dans le monde. Vous pouvez accéder à plus d'informations à propos de chaque joueur en cliquant
                            sur son nom sur sa photo.</p>
                        <p class="txt-right txt-dd-second">Un joueur est considéré comme professionnel s'il tire de son activité des revenus suffisants pour en vivre, 
                            à l'inverse de l'amateur (dont la rémunération demeure minime sinon nulle)..</p>
                            {% for entity in entities %}
                                {% if entity.categorie == "Professionelle" %}
                                <div class="col-md-3 atp-player" style ="margin-right: 10px; margin-bottom: 10px"">
                                    <a href="{{ path('frontofficefront_joueur_show',{ 'cin': entity.cinJoueur }) }}"><img src="{{asset('uploads/joueurs/'~entity.path)}}" height="130" width="160" alt="" />
                                        <p>{{entity.nom}} {{entity.prenom}}</p>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="content-wtp-player">
                        <h3><span>Joueurs</span> Juniors<span class="point-little">.</span></h3>
                        <p class="txt-right">Ci-dessous la liste des joueurs juniors en tunisie et un peu dans le monde. Vous pouvez accéder à plus d'informations à propos de chaque joueur en cliquant
                            sur son nom sur sa photo.</p>
                        <p class="txt-right txt-dd-second">Dans cette catégorie nous retrouvons les joueurs qui ont entre 18 et 20 ans.</p>
                        {% for entity in entities %}
                            {% if entity.categorie == "Junior" %}
                                <div class="col-md-3 atp-player" style ="margin-right: 10px; margin-bottom: 10px">
                                    <a href="{{ path('frontofficefront_joueur_show',{ 'cin': entity.cinJoueur }) }}"><img src="{{asset('uploads/joueurs/'~entity.path)}}" height="130" width="160" alt="" />
                                        <p>{{entity.nom}} {{entity.prenom}}</p>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="content-wtp-player">
                        <h3><span>Joueurs</span> Seniors<span class="point-little">.</span></h3>
                        <p class="txt-right">Ci-dessous la liste des joueurs seniors en tunisie et un peu dans le monde. Vous pouvez accéder à plus d'informations à propos de chaque joueur en cliquant
                            sur son nom sur sa photo.</p>
                        <p class="txt-right txt-dd-second">Comme pour la catégorie des joueurs Juniors, ici nous retrouvons les joueurs classés par leurs ages qui ont entre 23 et 39 ans.Cette catégorie
                            désigne aussi les joueurs qui ont les meilleures performances.</p>
                            {% for entity in entities %}
                                {% if entity.categorie == "Senior" %}
                                <div class="col-md-3 atp-player" style ="margin-right: 10px; margin-bottom: 10px">
                                    <a href="{{ path('frontofficefront_joueur_show',{ 'cin': entity.cinJoueur }) }}"><img src="{{asset('uploads/joueurs/'~entity.path)}}" height="130" width="160" alt="" />
                                        <p>{{entity.nom}} {{entity.prenom}}</p>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div><!--Close Top Match-->
                <div class="col-md-3 right-column">
                    <div class="top-score-title col-md-12 right-title">
                        <h3>Latest News</h3>
                        <div class="right-content">
                            <p class="news-title-right">A New Old Life</p>
                            <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                            <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                        </div>
                        <div class="right-content">
                            <p class="news-title-right">A New Old Life</p>
                            <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                            <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                        </div>
                        <div class="right-content">
                            <p class="news-title-right">A New Old Life</p>
                            <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                            <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                        </div>
                    </div>

                </div>
        </section>


    {% endblock %}  
