{% extends "frontofficefrontBundle::MainLayout.html.twig" %}
{% block main %}


</section>
<section class="drawer">
    <div class="col-md-12 size-img back-img">
        <div class="effect-cover">
            <h3 class="txt-advert animated">ATP World Tour Fan Credential</h3>
            <p class="txt-advert-sub animated">Your all-access pass to experience the action on tour</p>
        </div>
    </div>

    <section id="login" class="container secondary-page">  
 
        
           
        
        
        
        <!-- REGISTER BOX -->
           <div class="top-score-title right-score col-md-12">
            <h3>Register <span>Now</span><span class="point-int"> !</span></h3>
                <div class="col-md-12 login-page">
                    <form method="post" class="register-form">         
                       
                        <div class="email">
                            <label for="username">* username:</label><div class="clear"></div>
                            <input id="username" name="username" placeholder="username" required="" type="text">
                        </div>
                        <div class="email">
                            <label for="email">* Email:</label><div class="clear"></div>
                            <input id="email" name="email" placeholder="example@domain.com" required="" type="text">
                        </div>
                        <div class="email">
                            <label for="email">* Confirm Email:</label><div class="clear"></div>
                            <input id="confirm" name="email" placeholder="example@domain.com" required="" type="text">
                        </div>
                        <div class="name">
                            <label for="name">* First Name:</label><div class="clear"></div>
                            <input id="name" name="name" placeholder="e.g. Mr. John" required="" type="text">
                        </div>
                        <div class="name">
                            <label for="lastname">* Last Name:</label><div class="clear"></div>
                            <input id="lastname" name="name" placeholder="e.g. Mr. Doe" required="" type="text">
                        </div>
                        <div class="name">
                            <label for="password">* Password:</label><div class="clear"></div>
                            <input id="password" name="password" placeholder="********" required="" type="password">
                        </div>
                        <div class="confirm_password">
                            <label for="confirm_password">* Confirm_Password:</label><div class="clear"></div>
                            <input id="confirm_password" name="confirm_password" placeholder="********" required="" type="password">
                        </div>
                        <div id="register-submit">
                            <input value="Submit" type="submit">
                        </div>
                      </form>
                        <div class="ctn-img">
                            <img src="{{ asset('frontoffice/images/federer.png') }}">
                       </div><!--Close Images-->
                       <div class="clear"></div>
                </div>
                
           </div><!--Close REgistration-->
           </section>
    <section id="sponsor" class="container">
        <!--SECTION SPONSOR-->
        <div class="client-sport client-sport-nomargin">
            <div class="content-banner">
                <ul class="sponsor second">
                    <li><img src="{{ asset('frontoffice/images/sponsors/1.jpg') }}" alt="" /></li>
                    <li><img src="{{ asset('frontoffice/images/sponsors/2.jpg') }}" alt="" /></li>
                    <li><img src="{{ asset('frontoffice/images/sponsors/3.jpg') }}" alt="" /></li>
                    <li><img src="{{ asset('frontoffice/images/sponsors/4.jpg') }}" alt="" /></li>
                    <li><img src="{{ asset('frontoffice/images/sponsors/5.jpg') }}" alt="" /></li>
                    <li><img src="{{ asset('frontoffice/images/sponsors/6.jpg') }}" alt="" /></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}