{% trans_default_domain 'FOSUserBundle' %}

<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading"> Ajouter un utilisateur </div>
<div class="col-lg-6">
<div class="panel-body">

    
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

{{ form_row(form.email, { 'attr': {'class': 'form-control'} }   ) }}
{{ form_row(form.username , { 'attr': {'class': 'form-control'} }   ) }}
{{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} }  ) }}
{{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} }  ) }}
{{ form_row(form.nom, { 'attr': {'class': 'form-control'} }  ) }}
{{ form_row(form.prenom, { 'attr': {'class': 'form-control'} }  ) }}
{{ form_row(form.dateDeNaissance, { 'attr': {'class': 'form-control'} }  ) }}
{{ form_row(form.tel, { 'attr': {'class': 'form-control'} }  ) }}
{{ form_row(form.nationaliter, { 'attr': {'class': 'form-control'} }  ) }}
{{ form_row(form.grade_arbitre, { 'attr': {'class': 'form-control'} }  ) }}
{{ form_row(form.type_arbitre, { 'attr': {'class': 'form-control'} }  ) }}
{{ form_row(form.roles, { 'attr': {'class': 'form-control'} }  ) }}
{{  form_rest(form) }}


<br>
    <div>
        <input  class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
<div>
 
</div>
</div>