{% extends 'frontofficefrontBundle::MainLayout.html.twig' %}

{% block header %}
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'/>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'/>-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <link href="{{asset('css/fonts/font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
    <!--Clients-->
    <link href="{{asset('css/own/owl.carousel.css" rel="stylesheet" type="text/css')}}" />
    <link href="{{asset('css/own/owl.theme.css" rel="stylesheet" type="text/css')}}" />


    <link href="{{asset('css/jquery.bxslider.css" rel="stylesheet" type="text/css')}}" />
    <link href="{{asset('css/jquery.jscrollpane.css" rel="stylesheet" type="text/css')}}" />
    
    <link href="{{asset('css/minislide/flexslider.css" rel="stylesheet" type="text/css')}}" />
    <link href="{{asset('css/component.css" rel="stylesheet" type="text/css')}}" />
    <link href="{{asset('css/prettyPhoto.css" rel="stylesheet" type="text/css')}}" />
    <link href="{{asset('css/style_dir.css" rel="stylesheet" type="text/css')}}" />
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico" />
    <link href="{{asset('css/responsive.css" rel="stylesheet" type="text/css')}}" />
    <link href="{{asset('css/animate.css" rel="stylesheet" type="text/css')}}" />

{% endblock %}
{% block main %}
    

    <div class="col-md-4">
                     <img src="http://placehold.it/1024x700" alt=""/>
                     <div class="slide-news-bottom"><a href="#">Atp Europe Tour</a><a class="i-ico" href="#"><i class="fa fa-angle-double-right"></i></a></div>
               
                <div class="col-md-4">
                     <img src="http://placehold.it/1024x700" alt=""/>
                     <div class="slide-news-bottom"><a href="#">Wtp Tokyo Stadium</a><a class="i-ico" href="#"><i class="fa fa-angle-double-right"></i></a></div>
                </div>
 </div>
    {% endblock %}
{% block jscript %}

{% endblock %}
